{% extends 'base.htm' %}
{% block title%} Lyrics - Best Application {% endblock %}
{% block css %}

{% endblock %}

{% block body %}

<div  class="col-sm-12 text-center my-4">
    <h3>This is Index Page</h3>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h4>Featured Albums</h4>
            <hr>
            <div class="text-left">
                <ul>
                    <li><a href="/album/1">Rang De Basanti</a></li>
                    <li><a href="/album/2">Friends</a></li>
                    <li><a href="/album/3">Bahubali</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <h4>Featured Songs</h4>
            <hr>
            <div class="text-left">
                <ul>
                    <li><a href="/song/1">Namo Namo Hai Shankara</a></li>
                    <li><a href="/song/2">Kal Ho Na Ho</a></li>
                    <li><a href="/song/3">Hai Apna Dil To Aawara</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <h4>Featured Artists</h4>
            <hr>
            <div class="text-left">
                <ul>
                    <li><a href="/artist/1">Arijit Singh</a></li>
                    <li><a href="/artist/2">Shreya Ghoshal</a></li>
                    <li><a href="/artist/3">Sonu Nigam</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
